h2 {
  font-size: 16px;
}

.textarea {
  height: 40vh;
  min-width: 70%;
  max-width: 70%;
}

.button-check {
  background-color: #33a7ff;
  cursor: pointer;
  border-radius: 4px;
  height: 5vh;
  width: 10%;
  color: #fff;
}